body {
  /* background */
  background-color: #9BA3EB;
  font-family: 'Poppins', sans-serif;
  margin-top: 10%;
}


h1 {
  font-weight: bold;
  color: #413F42;
}


h4 {
  font-weight: bold;
}

.modal {
  background-color: transparent !important;
}

.button {
  padding: 0;
  border: none;
  background: none;
}

.button:hover {
  color: #F24C4C;
}

#heading {
  text-align: center;
  padding: 10px;
}


.boxen {
  margin: 50px;
}


.shadow {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3) !important;
}


.links {
  padding-top: 3%;
  font-size: 3rem;
  display: contents;
  justify-content: space-around;
}

.deleteButton {
  margin-left: 5%;
}

.list-group {
  margin-top: 3%;
}

.input-box {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

/* target paragraph elements that comes after checked input
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #9BA3EB;
} */

/* only style for "checkbox"
input[type="checkbox"] {
  margin: 20px;
} */

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
}

.addbutton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #9BA3EB;
  color: #fff;
  font-size: 30px;
  padding-bottom: 0;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: fit-content;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #9BA3EB;
}

/* targets placeholder */
::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #413F42;
  background-color: transparent;
  text-align: center;
  height: 2.5rem;
  font-weight: bold;
}
